Checks: >
  -*,
  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-type-vararg

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: CamelCase }
  - { key: readability-identifier-naming.ClassCase,              value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,             value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,  value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,           value: aNy_CasE  } # should be `camelBack`, but having problems with QT Test _data functions
  - { key: readability-identifier-naming.VariableCase,           value: camelBack }